In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sn

In [2]:
data = "FoodBalanceSheets_E_Africa_NOFLAG.csv"

In [3]:
df = pd.read_csv(data, encoding = "latin-1")

**QUESTION 2**

Select columns ‘Y2017’ and ‘Area’, Perform a groupby operation on ‘Area’. Which of these Areas had the 7th lowest sum in 2017?

In [4]:
df[['Y2017', 'Area']].groupby(by='Area').sum().sort_values(by='Y2017', ascending=True).iloc[6]

Y2017    19102.77
Name: Guinea-Bissau, dtype: float64

**QUESTION 5**

What is the total Protein supply quantity in Madagascar in 2015?

In [5]:
df[(df['Area'] == 'Madagascar') & (df['Element'] == 'Protein supply quantity (g/capita/day)')]['Y2015'].sum()

173.04999999999998

**QUESTION 6**


What would be the output for?

S = [['him', 'sell'], [90, 28, 43]]

S[0][1][1]

In [6]:
S = [['him', 'sell'], [90, 28, 43]]

S[0][1][1]

'e'

**QUESTION 7**

Perform a groupby operation on ‘Element’. What is the total number of the sum of Processing in 2017?

In [7]:
df.groupby(by='Element')['Y2017'].sum().loc['Processing']

292836.0

**QUESTION 9**

Given the following python code, what would the output of the code give?

my_tuppy = (1,2,5,8)

my_tuppy[2] = 6

In [8]:
my_tuppy = (1,2,5,8)

my_tuppy[2] = 6

TypeError: 'tuple' object does not support item assignment

**QUESTION 11**

What is the total number of unique countries in the dataset?

In [9]:
df['Area'].nunique()

49

**QUESTION 12**

Select columns ‘Y2017’ and ‘Area’, Perform a groupby operation on ‘Area’. Which of these Areas had the highest sum in 2017?

In [10]:
df[['Y2017', 'Area']].groupby(by='Area').sum().sort_values(by='Y2017', ascending=False).head(1)

              Y2017
Area
Nigeria  1483268.23

**QUESTION 13**

Perform a groupby operation on ‘Element’. What year has the highest sum of Stock Variation?

In [11]:
years = ['Y2014', 'Y2015', 'Y2016', 'Y2017', 'Y2018']
df.groupby(by='Element')[years].sum().loc['Stock Variation'].idxmax()

'Y2014'

**QUESTION 14**

Answer the following questions based on the African food production dataset provided by the FAO website already provided. What is the total sum of Wine produced in 2015 and 2018 respectively?

In [12]:
df.groupby(by='Item')[['Y2015', 'Y2018']].sum().loc['Wine']

Y2015    4251.81
Y2018    4039.32
Name: Wine, dtype: float64

**QUESTION 16**

What is the total number and percentage of missing data in 2014 to 3 decimal places?

In [13]:
total_missing = df['Y2014'].isnull().sum()
percent_missing = round(total_missing * 100 / len(df),3)
total_missing, percent_missing

(1589, 2.607)

**QUESTION 19**

Which year had the least correlation with ‘Element Code’?

In [14]:
years = ['Y2014', 'Y2015', 'Y2016', 'Y2017', 'Y2018']
df[years + ['Element Code']].corr()['Element Code'].sort_values()

Y2016           0.023444
Y2015           0.023889
Y2017           0.024254
Y2018           0.024279
Y2014           0.024457
Element Code    1.000000
Name: Element Code, dtype: float64

**QUESTION 20**

What is the mean and standard deviation across the whole dataset for the year 2017 to 2 decimal places?

In [15]:
df['Y2017'].agg(['mean', 'std']).round(2)

mean     140.92
std     1671.86
Name: Y2017, dtype: float64